@model IEnumerable<Domain.Row.PersonDto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Worker)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker)
            </td>
            <td>
                
                <a class="edit-@item.Worker" id="@item.Id" href="@Url.Action("Edit", new {id = item.Id})">Edit</a> |
                <a class="details-@item.Worker" id="@item.Id" href="@Url.Action("Details", new {id=item.Id})">Details</a> |
                <a class="delete-@item.Worker" id="@item.Id" href="@Url.Action("Delete", new {id = item.Id})">Delete</a>
            </td>
        </tr>
    }

</table>